.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo {
    height: 120px;
    width: 175px;
    padding-bottom: 10px;
}

.header .tittle-group {
    padding: 10px 0px 0px 20px;
}

.header .tittle-group i{
    padding-right: 5px;
}